# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs
*.log

# Environments
.env

# virtual
.venv/

# ChromaDB local persistence
chroma_db/

# IDEs / Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
